name: Core

on:
  push:
    paths:
      - 'core/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Run Gradle build
      run: |
        chmod +x ./gradlew
        ./gradlew core:clean core:build core:detekt
    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: core-build
        path: core/build
